

 <!-- <ul class="container mt-5 mb-5 .table-striped">
  
    <li class="list-group-item ripple">   {{album?.title}} by {{album?.artist?.artistName}}</li>
    
  </ul>  -->



  
  
        
          <div class="card shadow-sm col-12">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{album?.albumImage}}" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
            <div class="card-body">
              <p class="card-text">{{album?.title}} by {{album?.artist?.artistName}}</p>
              <p class="card-text"></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <div class="d-flex justify-content-md-center">
                    <!-- <button (click)="openAddalbum()" *ngIf="!showalbumForm" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add album</button>
                  
                  
                    <button (click)="openEditalbum()" *ngIf="!showalbumForm" [disabled]="!currentalbum"
                       class="btn btn-primary">Edit album</button>
                   
                     <button (click)="deletealbum()" class="btn btn-danger">Delete album</button>  -->
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
       
          
